In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [30]:
columns = ["SN","Age","Gender",
    "Item ID",      
    "Item Name",     
    "Price"]

In [31]:
unique_SN = purchase_data["SN"].value_counts()
unique_SN.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Iskadarya95    3
Aelin32        3
Name: SN, dtype: int64

In [34]:
SN_df = purchase_data.set_index(["SN","Age","Gender",
    "Item ID",      
    "Item Name",     
    "Price"])
SN_df

                                                                                  Purchase ID
SN            Age Gender Item ID Item Name                                 Price
Lisim78       20  Male   108     Extraction, Quickblade Of Trembling Hands 3.53             0
Lisovynya38   40  Male   143     Frenzied Scimitar                         1.56             1
Ithergue48    24  Male   92      Final Critic                              4.88             2
Chamassasya86 24  Male   100     Blindscythe                               3.27             3
Iskosia90     23  Male   131     Fury                                      1.44             4
...                                                                                       ...
Aethedru70    21  Female 60      Wolf                                      3.54           775
Iral74        21  Male   164     Exiled Doomblade                          1.63           776
Yathecal72    20  Male   67      Celeste, Incarnation of the Corrupted     3.46           777
Sisur91       7   Male   92      Final Critic                              4.19           778
Ennrian78     24  Male   50      Dawn                                      4.60           779

[780 rows x 1 columns]

In [38]:
group_by = SN_df.groupby('SN')
group_by.count()

               Purchase ID
SN
Adairialis76             1
Adastirin33              1
Aeda94                   1
Aela59                   1
Aelaria33                1
...                    ...
Yathecal82               3
Yathedeu43               2
Yoishirrala98            1
Zhisrisu83               2
Zontibe81                3

[576 rows x 1 columns]