In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [35]:
player_info = ["SN", "Age", "Gender"]

player_df = purchase_data[player_info]

player_count = len(player_df["SN"].unique())
player_count

total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [7]:
# total_players = len(purchase_data["SN"].unique())
# total_players

576

In [114]:
#created a variable that contained the data for Items
items = purchase_data[["Item ID", "Item Name","Price"]]

#using the len func found the total number of unique items in the list
total_unique = len(items["Item ID"].unique())

#using mean function on the Price list, the average price for the items are identified
avg = (items["Price"].mean())

#using the sum to add all the prices in the list to get the total revenue
total_rev = items["Price"].sum()

# with in the data using the count function, total number of purchase was counted.
num_purchase = items["Item ID"].count()

#using pandas items data frame was created, the use of dictionary was used to create the df
items_df = pd.DataFrame({"Number or Unique Items": [total_unique], "Average Price":[avg],"Number of Purchase": [num_purchase]
                        , "Total Revenue": [total_rev]})
#using the example for "Kickstarter Clean" Classroom activity, the float was formatted. 
items_df["Average Price"] = items_df["Average Price"].map("${:,.2f}".format)
items_df["Total Revenue"] = items_df["Total Revenue"].map("${:,.2f}".format)
items_df

   Number or Unique Items Average Price  Number of Purchase Total Revenue
0                     179         $3.05                 780     $2,379.77

In [105]:
items_df.dtypes

Number or Unique Items      int64
Average Price             float64
Number of Purchase          int64
Total Revenue             float64
dtype: object

In [162]:
#created a table with information focusing on the users
player_column = ["SN", "Age", "Gender"]
player_df = purchase_data[player_column]
#to remove the duplicates name from the list
player_df = player_df.drop_duplicates()

#after dropping the duplicate name 
male_gender = player_df["Gender"].value_counts()["Male"]
female_gender = player_df["Gender"].value_counts()["Female"]
other_gender = player_df["Gender"].value_counts()["Other / Non-Disclosed"]

#the total was already calculated in the first task and is saved under the variable (player_count)
#but to make the data more redable and understable I just added all the value together
total_player = male_gender + female_gender + other_gender

#to get the percentage you take the gender and divide by the total players 
male_percnt = male_gender/player_count * 100
female_percnt = female_gender/player_count * 100
other_percnt = other_gender/player_count * 100

#created a dictionary to create a dataframe using the data from the top. side note : ("") was assigned as ("Gender") but
#to make the display on the provided example, it was modified. 
gender_demo = pd.DataFrame({"": ["Male", "Female", "Other/Non-Disclosed"], "Total Count": [male_gender,female_gender,other_gender]
                           , "Percentage of Players":[male_percnt,female_percnt,other_percnt]})

# set the index to be the names of the gender. 
gender_demo = gender_demo.set_index([""])

#to change the format the percentage copied the ($.format) from earlier task and repurposed it
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2f}%".format)
gender_demo

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

576