In [478]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [479]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [480]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [481]:
player_info = ["SN", "Age", "Gender"]

player_df = purchase_data[player_info]

player_count = len(player_df["SN"].unique())
player_count

total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [482]:
# total_players = len(purchase_data["SN"].unique())
# total_players

In [483]:
#created a variable that contained the data for Items
items = purchase_data[["Item ID", "Item Name","Price"]]

#using the len func found the total number of unique items in the list
total_unique = len(items["Item ID"].unique())

#using mean function on the Price list, the average price for the items are identified
avg = (items["Price"].mean())

#using the sum to add all the prices in the list to get the total revenue
total_rev = items["Price"].sum()

# with in the data using the count function, total number of purchase was counted.
num_purchase = items["Item ID"].count()

#using pandas items data frame was created, the use of dictionary was used to create the df
items_df = pd.DataFrame({"Number or Unique Items": [total_unique], "Average Price":[avg],"Number of Purchase": [num_purchase]
                        , "Total Revenue": [total_rev]})
#using the example for "Kickstarter Clean" Classroom activity, the float was formatted. 
items_df["Average Price"] = items_df["Average Price"].map("${:,.2f}".format)
items_df["Total Revenue"] = items_df["Total Revenue"].map("${:,.2f}".format)
items_df

   Number or Unique Items Average Price  Number of Purchase Total Revenue
0                     179         $3.05                 780     $2,379.77

In [484]:
items_df.dtypes

Number or Unique Items     int64
Average Price             object
Number of Purchase         int64
Total Revenue             object
dtype: object

In [485]:
#created a table with information focusing on the users
player_column = ["SN", "Age", "Gender"]
player_df = purchase_data[player_column]
#to remove the duplicates name from the list
player_df = player_df.drop_duplicates()

#after dropping the duplicate name 
male_gender = player_df["Gender"].value_counts()["Male"]
female_gender = player_df["Gender"].value_counts()["Female"]
other_gender = player_df["Gender"].value_counts()["Other / Non-Disclosed"]

#the total was already calculated in the first task and is saved under the variable (player_count)
#but to make the data more redable and understable I just added all the value together
total_player = male_gender + female_gender + other_gender

#to get the percentage you take the gender and divide by the total players 
male_percnt = male_gender/player_count * 100
female_percnt = female_gender/player_count * 100
other_percnt = other_gender/player_count * 100

#created a dictionary to create a dataframe using the data from the top. side note : ("") was assigned as ("Gender") but
#to make the display on the provided example, it was modified. 
gender_demo = pd.DataFrame({"": ["Male", "Female", "Other/Non-Disclosed"], "Total Count": [male_gender,female_gender,other_gender]
                           , "Percentage of Players":[male_percnt,female_percnt,other_percnt]})

# set the index to be the names of the gender. 
gender_demo = gender_demo.set_index([""])

#to change the format the percentage copied the ($.format) from earlier task and repurposed it
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2f}%".format)
gender_demo

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [486]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [487]:
#using loc to specify the targetted data

#female data
female_df = purchase_data.loc[purchase_data["Gender"]== "Female", :]
female_purchase_count = female_df["Item ID"].count()
female_mean = female_df["Price"].mean()
female_ttl_purch = female_df["Price"].sum()
#thought process was to group Gender by User then get their purchase sum and then get the average 
#used the example from 'exlporing pandas' from supplement to build this thought process
female_per = female_df.groupby(['SN']).sum()
female_per = female_per["Price"].mean()


#male data
male_df = purchase_data.loc[purchase_data["Gender"]== "Male", :]
male_purchase_count = male_df["Item ID"].count()
male_mean = male_df["Price"].mean()
male_ttl_purch = male_df["Price"].sum()
#thought process was to group Gender by User then get their purchase sum and then get the average 
#used the example from 'exlporing pandas' from supplement to build this thought process
male_per = male_df.groupby(['SN']).sum()
male_per = male_per["Price"].mean()


#non-disclosed data
other_df = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed", :]
other_purchase_count = other_df["Item ID"].count()
other_mean = other_df["Price"].mean() 
other_ttl_purch = other_df["Price"].sum()
#thought process was to group Gender by User then get their purchase sum and then get the average 
#used the example from 'exlporing pandas' from supplement to build this thought process
other_per = other_df.groupby(['SN']).sum()
other_per = other_per["Price"].mean()

#creating df utilizing the dictionary 
Purchase_Analy = pd.DataFrame({"Gender" : ["Female","Male", "Other / Non-Disclosed"],
                               "Purchase Count": [female_purchase_count,male_purchase_count,other_purchase_count],
                              "Average Purchase Price": [female_mean,male_mean,other_mean],
                              "Total Purchase Value": [female_ttl_purch,male_ttl_purch,other_ttl_purch],
                               "Avg Total Purchase per Person": [female_per,male_per,other_per]
                             })
#format data frame to show $ and round to 2 decimal points. Also to set index 
Purchase_Analy["Average Purchase Price"] = Purchase_Analy["Average Purchase Price"].map("${:,.2f}".format)
Purchase_Analy["Total Purchase Value"] = Purchase_Analy["Total Purchase Value"].map("${:,.2f}".format)
Purchase_Analy["Avg Total Purchase per Person"] = Purchase_Analy["Avg Total Purchase per Person"].map("${:,.2f}".format)
Purchase_Analy = Purchase_Analy.set_index("Gender")

Purchase_Analy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [488]:
gender = purchase_data['Gender'].unique()
gender

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [489]:
df_2 = purchase_data.groupby(["SN","Gender"])
df_2.mean()

                      Purchase ID   Age     Item ID     Price
SN            Gender
Adairialis76  Male     467.000000  16.0  123.000000  2.280000
Adastirin33   Female   142.000000  35.0  175.000000  4.480000
Aeda94        Male     388.000000  17.0  128.000000  4.910000
Aela59        Male      28.000000  21.0  119.000000  4.320000
Aelaria33     Male     630.000000  23.0  171.000000  1.790000
...                           ...   ...         ...       ...
Yathecal82    Female   466.666667  20.0   80.333333  2.073333
Yathedeu43    Male     344.000000  22.0   71.500000  3.010000
Yoishirrala98 Female   572.000000  17.0  145.000000  4.580000
Zhisrisu83    Male      97.500000  10.0   42.500000  3.945000
Zontibe81     Male     339.666667  21.0   82.333333  2.676667

[576 rows x 4 columns]

In [490]:
female_df = purchase_data.loc[purchase_data["Gender"]== "Female", :]
female_purchase_count = female_df["Item ID"].count()
female_mean = female_df["Price"].mean()
female_ttl_purch = female_df["Price"].sum()
female_per = female_df.groupby(['SN']).sum()
female_per = female_per["Price"].mean()
female_per

4.468395061728394

In [491]:
bins = [0,9,14,19,24,29,34,39,50]

age_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=age_label)

purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [492]:
bins = [0,9,14,19,24,29,34,39,50]

age_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels=age_label)

group_df = purchase_data[["Age Group", "Age", "Gender", "SN"]].drop_duplicates()
group_df = group_df.groupby("Age Group")
age_count = group_df["Age"].count()
percnt_count = age_count/player_count * 100

Age_df = pd.DataFrame({"Total Count" : age_count, "Percentage of Players": percnt_count })
Age_df["Percentage of Players"] = Age_df["Percentage of Players"].map("{:,.2f}%".format)

Age_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [505]:
purch_a = purchase_data.groupby("Age Group")
p_count = purch_a["Age"].count()
p_mean = purch_a["Price"].mean()
p_sum = purch_a["Price"].sum()


purch_analy_df = pd.DataFrame({"Purchase Count": p_count, "Average Purchase Price" : p_mean,
                               "Total Purchase Value": p_sum})
purch_analy_df

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

In [525]:
p_pers = purchase_data.groupby(["Age Group","SN"])
p_pers = p_pers["Price"].sum()
p_pers = p_pers.dropna(how ="any")
p_pers

Age Group  SN
<10        Anallorgue57    5.70
           Chadjask77      4.93
           Chanossast57    4.32
           Eurithphos97    4.55
           Eusri44         3.09
                           ...
40+        Isursuir31      3.39
           Jiskjask85      1.33
           Lisovynya38     1.56
           Mindossa76      4.93
           Salilis27       4.23
Name: Price, Length: 576, dtype: float64

In [531]:
p_sum = purch_a["Price"].sum()
p_sum

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [541]:
spendr = purchase_data.groupby("SN")
spendr.head()
purch_count = spendr["Item ID"].count()
avg_price = spendr["Price"].mean()
total_purchase= spendr["Price"].sum()

Top_Spender = pd.DataFrame({"Purchase Count":purch_count,"Average Purchase Price":avg_price,
                            "Total Purchase Value":total_purchase})
Top_Spender["Average Purchase Price"] = Top_Spender["Average Purchase Price"].map("${:}"})

Top_Spender

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]